@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(22, 22, 22, 1);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: rgba(255, 255, 255, 1);
}

svg {
  color: rgba(22, 22, 22, 1);
  transition: color 0.2s;
}

svg:hover {
  color: rgba(22, 22, 22, 1);
}

button {
  border-radius: 8px;
  border: 2px solid rgba(22, 22, 22, 1);
  padding: 0.5em 1em;
  font-size: 1em;
  font-weight: 600;
  color: rgba(22, 22, 22, 1);
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition:
    color,
    background-color 0.2s;
}

button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #000000;
}

input {
  background-color: transparent;
  padding: 1em 0.5em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(22, 22, 22, 1);
    background-color: rgba(255, 255, 255, 1);
  }

  a:hover {
    color: rgba(22, 22, 22, 1);
  }

  svg {
    color: rgba(255, 255, 255, 1);
    transition: color 0.2s;
  }

  svg:hover {
    color: rgba(255, 255, 255, 1);
  }

  button {
    border: 2px solid rgba(22, 22, 22, 1);
    background-color: rgba(255, 255, 255, 1);
    color: rgba(22, 22, 22, 1);
  }

  button:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(22, 22, 22, 1);
  }
}
